<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome <%= user ? user.profile.name : "friend" %> to Austin Music Underground</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <h4>Austin as a music city has changed a lot over the years and many of the most storied venues in town have either closed or caved to the mainstream and lost what made them unique. We are here to focus attention on music spaces in Austin that cater to those with tastes that deviate from the norm</h3>
</main>

<%- include('./partials/footer') %>
