<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<div id="mainIndex">
  <h2>Austin Music Underground</h2>
  <h4>
    <div id="paragraph1">Austin Music Underground exists to bring attention to music spaces in Austin that cater to bands and fans with musical tastes that deviate from the norm </div>
  </h4>
  <% if (user?.profile.avatar) { %>
    <div id="avatar">
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</div>

<%- include('./partials/footer') %>
