<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<div id="mainIndex">
  <h2>Austin Music Underground</h2>
  <h4><div id="paragraph1">Austin as a music city has changed a lot over the years and many of the most storied venues in town have either closed or caved to the mainstream and lost what made them unique. </div>
  <div id="paragraph2">We are here to focus attention on music spaces in Austin that cater to those with tastes that deviate from the norm</div></h4>
  <% if (user?.profile.avatar) { %>
    <div id="avatar">
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</div>

<%- include('./partials/footer') %>
