<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>  
<h1>Venues</h1>
  <div id="card">
      <% venues.forEach(venue => { %>
        <!-- <%# const wrapper =  venue.createElement("div"); %>
        <%# wrapper.className = "container";%> -->
        <div>
          <div id="title"><%= venue.title %></div>
          <div id="address"><%= venue.address %></div>
          <div id="website"><%= venue.website %></div>
          <div id="image"><%= venue.imageURL %></div>
          <div><a href="/venues/<%= venue._id %>">More Info</a></div>
          </div>
      <% }) %>
    
</section>

<%- include('../partials/footer') %>