<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/venues/index.css" />
<%- include('../partials/nav') %>

<section>  
<h1>Venues</h1>
  <div id="venuesContainer">
      <% venues.forEach(venue => { %>
        <div id="card">
          <img id="image" src="<%= venue.imageURL %>">
          <div id="title"><%= venue.title %></div>
          <div id="space">--------</div>
          <div id="address"><%= venue.address %></div>
          <a href="<%= venue.website %>"><div id="website">Website</div></a>
          <div><a href="/venues/<%= venue._id %>">More Info</a></div>
          </div>
      <% }) %>
    </div>  
</section>

<%- include('../partials/footer') %>