<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>  
<h1>Venues</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Address</th>
        <th>Details</th>
        <th>imageURL</th>
      </tr>
    </thead>
    <tbody>
      <% venues.forEach(venue => { %>
        <tr>
          <td><%= venue.title %></td>
          <td><%= venue.address %></td>
          <td><%= venue.details %></td>
          <td><%= venue.imageURL %></td>
          <td><a href="/venues/<%= venue._id %>">DETAILS</a></td>
          <td>
          <!-- <form action="/venues/<%# venue._id %>?_method=DELETE" method="POST">
            <button>X</button>
          </form> -->
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</section>

<%- include('../partials/footer') %>