<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= venue.name %></h1>

  <!-- <%# if (venue.owner.equals(user?.profile._id)) { %> -->
    <!-- <a href="/venues/<%= venue._id %>"> -->
      <button class="btn">View this Venue! </button>
    <!-- </a>
  <%# )} %> -->
</section>

<%- include('../partials/footer') %>