<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/venues/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Venue: </div>
    <div><%= venue.title %></div>
    <div>Release Year: </div>
    <div><%= venue.address %></div>
    <div>Website: </div>
    <div><%= movie.website %></div>
    <div>Details: </div>
    <div><%= venue.details.join(', ') %></div>
  </section>
</main>
  
<%- include('../partials/footer') %>