<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/venues/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= venue.title %></h1>
  <section>
    <div>Address: </div>
    <div><%= venue.address %></div>
    <div>Website: </div>
    <div><%= venue.website %></div>
    <div>Details: </div>
    <div><%= venue.details %></div>
  </section>
</main>
  
<%- include('../partials/footer') %>